requests==2.32.3
six==1.17.0
tabulate==0.9.0
urllib3==2.4.0
notebook==7.4.3
xlrd==2.0.1
pytz==2025.2
pandas==2.3.0
scikit-learn==1.6.1
scipy==1.15.3
notebook==7.4.3
matplotlib==3.10.3
seaborn==0.13.2
mdpdf==0.0.18