name: weekly-check
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 12 * * *' # ogni sabato alle 12 -> '0 12 * * SAT'
jobs:
  doodle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Export turni
        run: |
          URL=${{ secrets.URL }}
          curl -X GET "${URL}&weekly=true" > turni_settimanali.txt
          export CHANGELOG="$(cat turni_settimanali.txt)"
          CHANGELOG="${CHANGELOG//'%'/'%25'}"
          CHANGELOG="${CHANGELOG//$'\n'/'%0A'}"
          CHANGELOG="${CHANGELOG//$'\r'/'%0D'}"
          echo "::set-output name=FILE::$(echo "$CHANGELOG")"
        id: fileaction
      - name: Send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            ${{ steps.fileaction.outputs.FILE }}
